<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My Login Form</h1>
<div th:if="${param.error}">
    Invalid username or passowrd
</div>
<form th:action="@{/login}" method="post">
    <div><lable>User name: <input type="text" name="username" />
        </lable></div>

    <div><lable>Password: <input type="password" name="password" />
        </lable> </div>
    <div><input type="submit" value="Sign in"/></div>
</form>
</body>
</html>